/* ==========================================================================
   VENDOR STYLES
   ========================================================================== */
   @import "../components/bourbon/dist/bourbon";
   @import "../components/neat/app/assets/stylesheets/neat";
/*
   Normalize
   ========================================================================== */

@import "../components/foundation/scss/normalize.scss";


/* ==========================================================================
   BASE STYLES
   ========================================================================== */

@import "base/palette";
@import "base/fonts";
@import "base/global";
@import "base/mymixins";

/* ==========================================================================
   MODULES STYLES
   ========================================================================== */


   /* ==========================================================================
   CUSTOM STYLES
   ========================================================================== */
   @import "custom/global";
   @import "custom/animation";
   @import "custom/bottom-bar";
   @import "custom/cards";
   @import "custom/game";
   @import "custom/intro-outro";
      @import "custom/intro--main";
   @import "custom/outro";
   @import "custom/trophies";