.memory-game section.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 86px;

  background-color: $mcguire-green;

  .container { height: 100%; }

  img.logo, section.playback-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  img.logo {
    width: 300px;

    left: 0;
  }

  section.playback-controls { right: 0; }

  button {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font-size: 1.25em;
    margin-right: 12px;

    &#volume.muted {
      img.mute { display: none; }

      img.volume-up { display: inline-block; }
    }

    &:last-child { margin-right: 0; }

    img { 
      width: 24px; 
      transform: translateY(5px);

      &.mute { display: inline-block; }

      &.volume-up { display: none; }
    }
  }
}

.ie8 .memory-game section.bottom-bar { 
  img.logo {
    width: 300px;
    height: 35px;

    margin-top: -18px;
  }

  .playback-controls {
    width: 180px;
    height: 25px;

    margin-top: -13px;
  }
}

.ie8 {
  .playback-controls button { float: right; }
  #volume { display: none; }
  #memory-game-reset { margin-top: 10px; }
}