.memory-game ul.cards {
  padding: 0;
  margin: 0 auto;

  z-index: 1;

  li {
    position: relative;
    cursor: pointer;

    @include span-columns(1 of 4);
    @include omega(4n);

    margin-bottom: 32px;

    perspective: 1000;
    transition: transform .4s ease-in-out;

    &.flipped {
      img.card--back { 
        transform: rotateY(180deg); 
        visibility: hidden; 
      }
      .card--front__container { 
        transform: rotateY(0deg);
        visibility: visible;
      }
    }

    &.matched { 
      transform: scale(0,0);
    }

    &.locked { pointer-events: none; }

    &.last-in-row { 
      margin-right: 0;
    }

    img.card--back, .card--front__container {
      width: 100%;

      transform-style: preserve-3d;
      transition: all .4s ease-in-out;
      backface-visibility: hidden;
      box-shadow: 0 0 25px 7px rgba(0,0,0,.35);
    }

    .card--front__container {
      position: absolute;
      left: 0;
      top: 0;

      height: 0;
      padding-bottom: 100%;
      background-color: white;

      transform: rotateY(180deg);
      visibility: hidden;

      border: 5px solid $silver;
    }

    img.card--front {
      position: absolute;
      width: 40%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      visibility: inherit;
    }
  }
}

.ie8 .memory-game ul.cards {
  li.matched, li.matched .card--front__container { visibility: hidden; }

  img.card--front {
    width: 60px;
    height: auto;

    margin-left: -30px;

    &.a { margin-top: -50px; }

    &.b { margin-top: -40px; }

    &.c { margin-top: -40px; }

    &.d { margin-top: -38px; }
  }
}