.fireworks, .fireworks__fallback {
    content: '';

    height: 100vh;

    z-index: 0;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fireworks {
    position: fixed;
    width: 100vw;

    .vjs-control-bar { display: none; }

    #fireworks-vid { 
      width: 100% !important;
      height: 100% !important;

      background-color: transparent;
    }
}

.fireworks__fallback {
    position: absolute;
    width: 100%;

    background-image: url(../images/fireworks.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.flash {
    .fireworks__fallback { display: none !important; }
}

.no-flash {
    .fireworks { display: none !important; }
}