.fireworks, .fireworks__fallback {
    position: fixed;
    content: '';

    height: 100vh;
    z-index: 0;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fireworks {
    width: 100vw;

    .vjs-control-bar { display: none; }

    #fireworks-vid { 
      width: 100% !important;
      height: 100% !important;

      background-color: transparent;
    }
}

.fireworks__fallback {
    width: 100vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    z-index: -1;

    &.play {
        z-index: 0;
    }

    img {
        position: fixed;
        bottom: 14%;
    }
}

.portrait .fireworks__fallback img {
    height: 100%;
    left: -28%;
}

.landscape .fireworks__fallback img {
    width: 100%;
    left: 0;
}

.flash {
    .fireworks__fallback { display: none !important; }
}

.no-flash {
    .fireworks { display: none !important; }
}