.memory-game section.game {
  position: relative;

  .intro { 
    position: relative;
    font-size: 1.5em; 

    z-index: 1;

    @media screen and ( min-height: 800px ){
      font-size: 1.75em; 
    }
  }
}