.memory-game section.game {
  position: relative;

  .intro { 
    position: relative;
    font-size: 2em; 
    font-weight: bold;

    z-index: 1;

    @media screen and ( min-height: 800px ){
      font-size: 2.25em; 
    }

    @media ( max-height: 768px ), ( max-width: 768px ){
      font-size: 1.25em; 
      letter-spacing: 2px;
    }

    @media ( max-height: 667px ), ( max-width: 667px ){
      font-size: .85em; 
    }

    @media ( max-height: 480px ), ( max-width: 480px ){
      font-size: .65em;
    }
  }
}

.portrait:not(.ie8) .memory-game section.game {
  position: fixed;
  width: 100%;
  top: 42.5%;
  left: 50%;

  transform: translate(-50%, -50%);

  .intro { margin-bottom: 2em; }
}