$mcguire-green: #5b8f22;
$mcguire-green--dark: #325b2c;
$silver: #969799;

html {
  font-size: 12px;
}

.memory-game {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'EB Garamond', serif;

  .container { 
    @include outer-container; 
    position: relative;

    max-width: 900px;

    @media screen and ( min-height: 800px ){
      max-width: 1088px;
    }
  }
}

.ie8 .memory-game > div > img { top: 0 !important; }