 .memory-game section.intro, section.outro {
  display: block;
  margin: 0 auto;
  overflow: hidden;

  color: white;
  text-shadow: 0 0 1px black;
  text-align: center;
  letter-spacing: 5px;
  line-height: 1.5;

  span{ display: block; }
}