.memory-game .intro.main {
  position: fixed;
  font-size: 5.5em;
  text-shadow: 0 3px 9px rgba(0,0,0,.85), 0 0 1px black;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media ( max-height: 768px ), ( max-width: 768px ){
    font-size: 3em; 
  }

  span { white-space: nowrap; }
}

.ie8 .memory-game .intro.main {
  width: 426px;
  margin-left: -213px;

  height: 252px;
  margin-top: -126px;
}