$mcguire-green: #5b8f22;
$mcguire-green--dark: #325b2c;

.memory-game {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'PT Sans Narrow', sans-serif;

  .container { 
    @include outer-container; 
    position: relative;
  }

  section.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 86px;

    background-color: $mcguire-green;

    .container { height: 100%; }

    img.logo, section.playback-controls {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    img.logo {
      width: 300px;

      left: 0;
    }

    section.playback-controls { right: 0; }

    button {
      background: none;
      color: white;
      border: none;
    }
  }

  section.intro, section.outro {
    display: block;
    margin: 0 auto;

    color: white;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.5;

    &.main {
      position: fixed;
      font-size: 42px;

      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    span{ display: block; }
  }

  section.game {
    .intro { 
      font-size: 24px; 

      margin-top: 24px;
    }

    ul.cards {
      margin: {
        top: 42px;
        bottom: 0;
      }

      li {
        position: relative;

        @include span-columns(1 of 4);
        @include omega(4n);

        margin-bottom: 32px;

        perspective: 1000;
        transition: transform .4s ease-in-out;

        &.flipped {
          img.card--back { transform: rotateY(180deg); }
          .card--front__container { transform: rotateY(0deg); }
        }

        &.matched { 
          transform: scale(0,0);
        }

        &.locked { pointer-events: none; }

        img.card--back, .card--front__container {
          width: 100%;
          border: 5px solid $mcguire-green--dark;

          transform-style: preserve-3d;
          transition: all .4s ease-in-out;
          backface-visibility: hidden;

          box-sizing: content-box;
        }

        .card--front__container {
          position: absolute;
          left: 0;
          top: 0;

          height: 0;
          padding-bottom: 100%;
          background-color: white;

          transform: rotateY(180deg);
        }

        img.card--front {
          position: absolute;
          width: 40%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    ul.trophies { 
      position: fixed;
      left: 0;
      bottom: 82px;
      width: 100%;

      text-align: center;

      padding: 0;
      margin: 0;

      li { 
        display: inline-block;
        margin-right: 24px;

        width: 100%;
        max-width: 60px;

        animation: pop .4s ease-in-out;

        img { width: 100%; }
      }
    }
  }

  section.outro{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -65%);
    width: 100%;
    
    span.thank-you { font-size: 124px; }

    p { margin-bottom: 72px; }

    ul.charities {
      list-style: none;
      font-size: 12px;

      max-width: 100%;
      margin-bottom: 42px;

      li {
        @include span-columns(1 of 3);
        @include omega(3n);
        margin-bottom: 6px;

        white-space: nowrap;
        text-align: left;
      }
    }

    span.blessing { font-size: 24px; }
  }
}

@keyframes pop {
  from { transform: scale(0,0); }
  to { transform: scale(1,1); }
}