.memory-game section.outro {
  position: fixed;
  left: 50%;
  top: 37%;

  transform: translate(-50%, -50%);
  width: 100%;
  
  span.thank-you { font-size: 9em; }

  p { 
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 1.5em;
  }

  ul.charities {
    list-style: none;
    font-size: 1em;

    max-width: 100%;
    margin-bottom: 2em;

    div.row { 
      @include fill-parent();
      @include row(table);

      margin-bottom: .7em;
    }

    li {
      @include span-columns(1 of 3, table);

      text-align: left;
    }
  }

  span.blessing { font-size: 3em; }
}

.ie8 .memory-game section.outro {
  width: 1088px;
  height: 598px;

  margin: {
    left: -450px;
    top: -280px;
  }
}