.memory-game section.outro {
  position: fixed;
  left: 50%;
  top: 40%;
  letter-spacing: 3px;

  transform: translate(-50%, -50%);
  width: 100%;
  
  span.thank-you { 
    font-size: 9em; 
    text-shadow: 0 3px 9px rgba(0,0,0,.85), 0 0 1px black;

    @media ( max-width: 960px ) {
      font-size: 4em; 
    }

    @media ( max-height: 667px ), ( max-width: 667px ){
      font-size: 2em; 
    }
  }

  p { 
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5em;

    @media ( min-width: 960px ) {
      white-space: nowrap;
    }

    @media ( max-width: 960px ) {
      font-size: 1.6em; 
    }

    @media ( max-height: 667px ), ( max-width: 667px ){
      font-size: 1em; 
    }

    @media ( max-width: 480px ) {
      font-size: .75em;
    }

    @media ( max-width: 320px ) {
      font-size: .85em;
    }

    span { 
      font-family: 'blackjackregular', cursive;

      margin-top: .5em;
      font-size: 210%; 
    }
  }

  ul.charities {
    list-style: none;
    font-size: 1em;

    max-width: 100%;
    margin-bottom: 2em;

    @media ( max-width: 960px ) {
      font-size: .6em; 
      font-weight: bold;
      letter-spacing: 2px;
      margin-top: 3em;
      margin-bottom: 3em;
    }

    @media ( max-height: 667px ), ( max-width: 667px ){
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    div.row { 
      @include fill-parent();
      @include row(table);

      margin-bottom: .7em;

      @media ( max-width: 960px ) {
        margin-bottom: 1em; 
      }

      @media ( max-height: 667px ), ( max-width: 667px ){
        font-size: .65em; 
      }
    }

    li {
      @include span-columns(1 of 3, table);

      text-align: center;
    }
  }

  span.blessing { 
    font-size: 2.5em; 

    @media ( max-width: 960px ) {
      font-size: 1.5em; 
    }

    @media ( max-height: 667px ), ( max-width: 667px ){
      font-size: .75em; 
    }
  }
}

.ie8 .memory-game section.outro {
  width: 1088px;
  height: 598px;

  margin: {
    left: -450px;
    top: -100px;
  }
}