.memory-game ul.trophies { 
  position: fixed;
  left: 0;
  bottom: 68px;
  width: 100%;

  text-align: center;

  padding: 0;
  margin: 0;

  transition: transform .6s ease-out;

  @media ( max-height: 667px ), ( max-width: 667px ){
    bottom: 14%;
  }

  @media ( max-height: 360px ) { 
    left: 20%;
    width: 60%;
  }

  &.zoom {
    transform: scale(1.9) translateY(-25%);

    @media ( max-height: 480px ), ( max-width: 480px ) {
      transform: scale(1.5) translateY(-15%);
    }
  }

  li { 
    display: inline-block;
    margin-right: 24px;

    width: 8%;
    max-width: 60px;

    @media ( max-width: 960px ) {
      max-width: 40px;
    }

    animation: pop .4s ease-in-out;

    &:last-child { margin-right: 0; }

    section.gift-parts {
      position: relative;

      .card__top {
        position: absolute;
        left: 0;

        transition: transform .3s ease-in-out;

        &.a { 
          top: -36.5%;
          left: -2%;
          width: 125%;
        }

        &.b { top: -44%; }

        &.c { 
          top: -98%; 
          left: -1px;
        }

        &.d { 
          top: -59%;
          left: -3.5%;
          width: 109%;
        }
      }
    }

    img { 
      width: 100%;

      &.closed, &.open { 
        display: none;
      }
    }
  }
}

.memory-game.winner {
  section.gift-parts .card__top { 
    &.a { transform: translateX(-22px) rotate(-35deg); }

    &.b { transform: translateX(22px) rotate(35deg); }

    &.c { transform: translateX(-22px) rotate(-35deg); }

    &.d { transform: translateX(22px) rotate(35deg); }
  }
}

.ie8 .memory-game {
  ul.trophies {
    img.closed { display: inline-block; }

    img.card__top, img.card__bottom { display: none; }
  }

  &.winner {
    ul.trophies { 
      li { max-width: 80px; }

      img {

        &.closed { display: none; }

        &.open {
          display: inline-block;
        }
      }
    }
  }
}